<!DOCTYPE html>
<html lang="en">
{{{ meta }}}
<head><title>{{ title }}</title></head>
<style>
  div {
    position:absolute; 
    top:15%;
    left:0%; 
  }

  body {
    background-color: #00A0D7;
  }

  div {
    transform: scale(0.5);
    font-size: 400%;
    color: white;
  }
  
  #ruananaing {
    transform: scale(0.3);
    font-size: 1000%;
  }

  * {
      transition:all 3s linear;
  }
</style>
<body>
  <div>
      <p>refresh the page for a random:</p>
      <!--vue-ssr-outlet-->
      <p>when getting "RuanAnQing" or "ruananqing" or "RUANANQING",</p>
      <p>some interesting thing will be shown...</p>
  </div>
</body>

<script>
  window.onload = function() {
    let ruananqing = document.getElementById("ruananqing");
    let div = document.getElementsByTagName("div")[0];
    if (ruananqing.textContent == "ruananqing" || ruananqing.textContent == "RuanAnQing" || ruananqing.textContent == "RUANANQING") {
      setTimeout(()=>{
        ruananqing.style.color = "#00A0D7";
        div.style.transform = "scale(10)";
        ruananqing.style.transform = "scale(15)";
        setTimeout(()=>{
          location.href = "http://page.ruananqing.com";
        }, 1500);
      }, 1000);
    }
  };
</script>
</html>
